<ion-content [fullscreen]="true">
<div class="mypadding">
  <ion-searchbar  (ionInput)="filtre($event)" animated="true" placeholder="search"></ion-searchbar>
<!--
  <input type="text" [(ngModel)]="a" name="ff"/>{{a}}
-->
  <ion-list *ngIf="users; else skeleton">
    <div *ngFor="let u of data  ">
      <app-user [user]="u"></app-user>
    </div>
    
  </ion-list>

  <ng-template #skeleton>
    <ion-list>
      <ion-item *ngFor="let item of [1, 2, 3, 4, 5]">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-template>

</div>
</ion-content>
